# Xcode
.DS_Store
build/
DerivedData/
xcuserdata/
*.xcworkspace
*.xccheckout
*.xcscmblueprint

# Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
 Packages/
 Package.pins
 Package.resolved

# Xcode Playgrounds
timeline.xctimeline
playground.xcworkspace

# Temporary files
*.swp
*.swo
*~

# Build files
*.o
*.pyc
*.class
*.war
.env
*.key
*.plist